body {
  background-color: lightblue
}

.App {
  text-align: center;
  text-shadow: 2pc;
}








header {
  position: relative;
  display: inline;
  text-align: center;

  row-gap: 10px;

}

.rectangle-ab {
  position: relative;
  align-items: center;
  color: #fff;
  opacity: 0.3;
}

.myName {


  color: #000;
  left: 50px;


}

h3.myPosition {
  color: gray;
  text-transform: capitalize;

}

.grid-container {

  display: grid;

  padding-left: 50px;
  /* background-color: #fdf; */
  padding: 10px;
  padding-top: 50px;
  padding-left: 200px;
  column-gap: 50px;
  row-gap: 50px;


}

h3 {
  text-transform: uppercase;
}

.grid-item {
  text-align: center;
}

/* .vertical {
  border-left: 6px solid black;
  height: 500px;
  position: absolute;
  left: 450px;
} */

.contact {
  grid-column: 1;
  grid-row: 1;

  background-color: #fff;


}

.summary {
  grid-column: 2/span 3;
  grid-row: 1;
  background-color: #fff;
}

.education {
  grid-column: 1;
  grid-row: 2;
  background-color: #fff;

}

.experience {
  grid-column: 2/span 3;
  grid-row: 2/span 3;
  background-color: #fff;



}

.skills {
  grid-column: 1;
  grid-row: 3;
  background-color: #fff;


}

.interest {
  grid-column: 1;
  grid-row: 4;
  background-color: #fff;

}

.contactme {
  grid-column: 2/span 3;
  grid-row: 4;
  background-color: #fff;

}